<!-- from https://github.com/pugjs/pug -->

doctype html
html(lang="en")
  head
    title David Lam's Home Page
    script(type='text/javascript').
      if (typeof foo !== 'undefined') bar(1 + 5);

  body
    h1 David Lam's Home Page
    #container.col
      pre #{cowsayOutput}


