<!doctype html>
<html>
  <head>
    <title>David Lam's Home Page</title>

    <meta name="description" content="Personal home page of David Lam"/>
    <meta name="keywords" content="cool, xquery, tosh.O, david lam, blah, software, engineer, l33t"/>
    <!--  refresh after 4 seconds?  <meta http-equiv="refresh" content="4; URL=http://www.dlam.me"> -->
    <meta name="google-site-verification" content="dF-2MWCPOT2a4MZ-GJC3c9wA3k0C6gJDf8xyr5fN0MM" />

    <link href="css/style.css" rel="stylesheet"/>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2337384-2']);
      _gaq.push(['_setDomainName', '.dlam.me']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body xmlns="http://www.w3.org/1999/xhtml">

    <div id="stuff">
        <h1>David Lam's Home Page  {% comment %} {{ sekrit }} {% endcomment %}  </h1>

        <img src="img/dlam.jpg" style="float:right; margin-top:26px;"/>

        <a href="http://facebook.com/dklam">facebook</a>
        <br/>
        <a href="http://askvivi.tv">videos</a>
        <br/>
        <a href="http://gamesradar.com">games</a>
        <br/>
        <a href="http://www.linkedin.com/in/dklam">linkedin</a>
        <br/>
        <a href="http://www.github.com/dlam26">github!</a>
        <br/>
        email?  d Ⓐ  dlam.me
        <br/>
        <br/>
        <br/>

        <script id="fedora-banner" type="text/javascript" src="http://fedoraproject.org/static/js/release-counter-ext.js?lang=en&width=200px"></script>

        {% comment %}
        <br/>

        <a href="http://www.rackspacecloud.com/2498-0-1-27.html" target="_blank"><img border="0" src="http://affiliates.rackspacecloud.com/banners/linux-300x50.png" width="300" height="50" alt="Linux Servers on the Cloud IN MINUTES" title="earn david money!"/></a>
        {% endcomment %}


    </div>

    <div class="rightside">

        <a href="" onlick="location.reload(); return false;" title="> fortune | cowsay">make another!</a>

         <pre class="cowsay">
{{ cowfile }}
{{ cowsay }}
         </pre>
     </div>
  </body>

</html>


<!--
    vi: ft=htmldjango
-->
